@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$secondColor: #001021;
$mainColor: #0CAADC;
$green: #2E8B57;
$red: #B22222;
$width: 560px;