@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$secondColor: #001021;
$mainColor: #0CAADC;
$green: #2E8B57;
$red: #B22222;
$width: 560px;

button, input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(68, 68, 68);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    width: 100vw;
    height: 100vh;
    background: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks {
    width: $width;
    height: 80%;
    background: $secondColor;
    color: #fff;
    border-radius: 25px;
    padding: 30px 16px;
    letter-spacing: 1px;
    position: relative;
    .tasks__title {
        position: relative;
        text-align: center;
        margin: 0 0 20px;
        &::after {
            content: '';
            width: 80px;
            height: 3px;
            background: $mainColor;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .tasks__list {
        overflow: auto;
        height: 60vh;
        .tasks__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            color: #000;
            border-radius: 25px;
            padding: 10px 16px;
            line-height: 120%; 
            &:not(:first-child), &:not(:last-child) {
                margin: 10px 0;
            }
            .tasks__text {
                .text__item {
                    word-wrap: break-word;
                    width: 400px;
                }
            }
        }
        .tasks__control {
            display: flex;
            .tasks_but {
                cursor: pointer;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                font-size: 20px;
                color: #fff;
                background: $mainColor;      
            }
            .tasks__complete {
                background: $green;
                margin: 0 6px 0 0;
            }
            .tasks__delete {
                background: $red;
            }
        }
    }
    .tasks__create {
        position: absolute;
        display: flex;
        width: $width - 32px;
        height: 50px;
        bottom: 3%;
        .create__input {
            position: relative;
            width: 100%;
            padding: 10px 16px;
            border-radius: 15px;
            border: 1px solid #fff;
            &:focus {
                border: 2px solid $mainColor;
            }
            &:focus + .create__input_length {
                position: absolute;
                top: 0%;
                z-index: 10;
                color: $mainColor;
                background: $secondColor;
            }
        }
        .create__input_length {
            cursor: text;
            position: absolute;
            color: lightgray;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
            user-select: none;
            transition: top .35s ease-in-out, background .1s ease-in-out;
            padding: 0 3px;
            border-radius: 15px;
            font-size: 14px;
        }
        .create__input_content {
            .create__but {
                position: absolute;
                width: 50px;
                right: 0%;
                height: 100%;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                background: $mainColor;
                color: #fff;
                font-size: 30px;
            }
        }
    }
}